body {
    background-color: whitesmoke;
    text-align: center
}
.body-container {
    margin-top: -40px;
}
#heading {
    margin-top: 6%;
}
.container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    background-color: white;
    width: 45%;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 0px;
}
#menu {
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    width: 100%;
}
#selection {
    grid-column: 2;
    grid-row: 2;
    background-color: cornflowerblue;
    padding: 10px;
    color: white;
    width: 100%;
}
#extras {
    grid-column: 1;
    grid-row: 2;
    background-color: slategray;
    padding: 10px;
    color: white;
    width: 100%
}
#basmati {
    grid-column: 1;
    grid-row: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid transparent;
    padding: 5px;
    border-color: aquamarine;
    width: 100%;
}
#menu > span {
    font-size: 20px
}
#num1, #num2, #num3, #num4, #num5, #num6 {
    background-color: white;
    color: black;
    padding: 6px 12px;
    float: left;
    margin-top: 6px;
    border-radius: 3px;
}
.btn-primary {
    margin: 5px;
    float: left;
}
.btn-danger {
    margin: 5px;
    float: left;
}
#shipping {
    width: 48px;
}
#payment {
    width: 280px;
}
.price-section b{
    float: left;
    margin-top: 10px;
}
#orderNow {
    float: right;
    margin-top: 10px;
}
.sub-section1 {
    float: left;
    margin-right: 80px;
}
#yogurt{
    float: left;
    margin-left: 70px;
    margin-right: 64px;
    margin-top: 8px;
}
.sub-section2 {
    float: left;
    margin-right: 80px;
}
#pudding{
    float: left;
    margin-left: 70px;
    margin-right: 51px;
    margin-top: 8px;
}
.sub-section3 {
    float: left;
}
#water{
    float: left;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 8px;
}
.sub-section4 {
    float: left;
    margin-right: 80px;
}
#chicken{
    float: left;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 8px;
}
.sub-section5 {
    float: left;
    margin-right: 80px;
}
#fish{
    float: left;
    margin-left: 70px;
    margin-right: 78px;
    margin-top: 8px;
}
.sub-section6 {
    float: left;
}
#pork{
    float: left;
    margin-left: 70px;
    margin-right: 75px;
    margin-top: 8px;
}